h1{
    text-align: center;
    margin-top: 15%;
    color: #283246;
}

h2{
    text-align: center;
    color: #283246;
    font-weight: lighter;
}

.button-style{
    text-align: center;
}

button{
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    background-color: #283246;
    border: none;
    color: white;
}